@model NumberGuessingGame.Models.SecretNumber

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">Begin... Rules and stuff</p>
    <p><a class="btn btn-lg btn-success" href="/SecretNumber/Game" role="button">Begin game!</a></p>
</div>

